.glass {
  //@apply bg-white rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-50 border border-gray-100;

  @apply bg-white/30 bg-opacity-30 backdrop-blur-3xl;
  @apply bg-clip-padding backdrop-filter;
  @apply rounded-lg;
}

.glass-2 {
  @apply glass;
  @apply bg-white/0 backdrop-blur-3xl;
}

.glass-border {
  @apply border border-gray-100;
}


// color list var
$colors: (
    gray: 'gray-400',
    red: 'red-400',
    white: 'white',
);

// generate classes

@for $i from 1 through 5 {
  // each color
    @each $color, $value in $colors {
      // create class
      .glass-#{$color}-#{$i} {
        @apply bg-#{$value}/#{$i * 20};

        @apply bg-opacity-30 backdrop-blur-3xl;
        @apply bg-clip-padding backdrop-filter;
        @apply rounded-lg;
      }

      .glass-#{$color} {
        @apply glass-#{$color}-1;
      }
    }
}